


body {
  

      margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   background-color:white;            
}






        
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

        .category-card {
            background: bisque;
            color: rgb(18, 16, 16);
            padding: 2rem;
            border-radius: 15px;
            text-align: center;
            transition: transform 0.3s;
            cursor: pointer;
        }

    

        .category-card:hover {
            transform: scale(1.05);
        }

        .category-card h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }




.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.category-card {
  background-color: bisque;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.category-card h2 {
  margin-top: 0;
  color: #090909;
}
h1{
  text-align: center;
}




.title {
    color: maroon;
    margin: 10px 0;
}


.Romans{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 90PX;
    margin-bottom: 22%;
}

.Romans>.book-info{
 border: solid black;
}
.Romans>.book-info>img{
  width:100%;
}

.Romans>.book-info>h5>a{
  text-decoration: none;
}
.Romans>.book-info>h5{
  text-decoration: none;
}











.psychologie{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 90PX;
    margin-bottom: 22%;
}

.psychologie>.book-card{
 border: solid black;

}
.psychologie>.book-card>img{
  width:100%;
}

.psychologie>.book-card>h5>a{
  text-decoration: none;
}
.psychologie>.book-card>h5{
  text-decoration: none;
}





.sciences{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 90PX;
    margin-bottom: 22%;
}
.sciences>.book-card{
 border: solid black;
}
.sciences>.book-card>img{
  width:100%;
}

.sciences>.book-card>h5>a{
  text-decoration: none;
}
.sciences>.book-card>h5{
  text-decoration: none;

}


.btn {
    background: maroon;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}











.histoires{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 90PX;
    margin-bottom: 22%;
}
.histoires>.book-card{
 border: solid black;
}
.histoires>.book-card>img{
  width:100%;
}

.histoires>.book-card>h5>a{
  text-decoration: none;
}
.histoires>.book-card>h5{
  text-decoration: none;

}


.btn {
    background: maroon;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}


